<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>


  <h1><center>AIR WRITING AND CHARACTER RECOGNITION</center></h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="feature">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>


<h2 class="text-center my-4">Our Team</h2>
<div class="container my-4">
    
  <div class="card col-md-4">
      <img class='card-img-top' src="static/img/harshil.jpeg" alt="Jane">
      <div class="card-body">
        <h5 class="card-title">Harshilkumar Buha</h5>
        <p class="card-text">BackEnd <br/>19it401@example.com</p>
      </div>
  </div>

  <div class="card col-md-4">
    <img class='card-img-top' src="static/img/Harsh.jpeg" alt="Jane">
    <div class="card-body">
      <h5 class="card-title">Harsh Ajudia</h5>
      <p class="card-text">Front End <br/>19it418@example.com</p>
    </div>
  </div>

  <div class="card col-md-4">
    <img class='card-img-top' src="static/img/prnv.jpeg" alt="Jane">
    <div class="card-body">
      <h5 class="card-title">Pranav Baraiya</h5>
      <p class="card-text">Model Train & Back End <br/>19it428@example.com</p>
    </div>
  </div>
</div>

<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"/>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-twitter"/>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-google"/>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"/>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-linkedin-in"/>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-github"/>
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
  </div>
</footer>

</body>
</html>
